#stackOfCards
{
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -75px;
}

.card
{
  position: absolute;
  width: 100px;
  height: 150px;
}

body
{
  background-image:url('images/beach_night.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}